body{outline: none}
.sidebar { background-color: #ffffff; display: block;}
.main .mat-drawer-container { background-color: transparent;}
.main .mat-drawer.mat-drawer-side { max-width: 250px; width:100%; box-shadow: 2px 5px 10px rgba(0,0,0,0.10);}



