<ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">
            <mat-icon>home</mat-icon>
        </a></li>
    <li class="breadcrumb-item active">Patients</li>
</ul>

<div class="container-fluid">
    <h1 class="d-flex bd-highlight mb-3">
        <span class="title mr-auto">Patients</span>
        <span class="">
                <a routerLink="/patient-action"><button mat-fab color="primary"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>add</mat-icon>
                </button></a>
        </span>
    </h1>
    <!-- Patient List -->
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab label="All">
                    <table class="table m-b-0 table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Media</th>
                                <th>Patients ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Number</th>
                                <th>Last Visit</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of allPatients">
                                <td>
                                    <span class="list-icon">
                                        <a routerLink="/patient-profile">
                                            <img class="patients-img" src="{{patient.thumb}}" alt="">
                                        </a>
                                    </span>
                                </td>
                                <td>{{patient.patientID}}</td>
                                <td><span class="list-name">{{patient.name}}</span></td>
                                <td>{{patient.gender}}</td>
                                <td>{{patient.age}}</td>
                                <td>{{patient.address}}</td>
                                <td>{{patient.contact}}</td>
                                <td>{{patient.lastVisit}}</td>
                                <td><span class="badge badge-success">{{patient.status}}</span></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="India">
                    <table class="table m-b-0 table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Media</th>
                                <th>Patients ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Number</th>
                                <th>Last Visit</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of allPatients">
                                <td>
                                    <span class="list-icon">
                                        <a routerLink="/patient-profile">
                                            <img class="patients-img" src="{{patient.thumb}}" alt="">
                                        </a>
                                    </span>
                                </td>
                                <td>{{patient.patientID}}</td>
                                <td><span class="list-name">{{patient.name}}</span></td>
                                <td>{{patient.gender}}</td>
                                <td>{{patient.age}}</td>
                                <td>{{patient.address}}</td>
                                <td>{{patient.contact}}</td>
                                <td>{{patient.lastVisit}}</td>
                                <td><span class="badge badge-success">{{patient.status}}</span></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="UK">
                    <table class="table m-b-0 table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Media</th>
                                <th>Patients ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Number</th>
                                <th>Last Visit</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of allPatients">
                                <td>
                                    <span class="list-icon">
                                        <a routerLink="/patient-profile">
                                            <img class="patients-img" src="{{patient.thumb}}" alt="">
                                        </a>
                                    </span>
                                </td>
                                <td>{{patient.patientID}}</td>
                                <td><span class="list-name">{{patient.name}}</span></td>
                                <td>{{patient.gender}}</td>
                                <td>{{patient.age}}</td>
                                <td>{{patient.address}}</td>
                                <td>{{patient.contact}}</td>
                                <td>{{patient.lastVisit}}</td>
                                <td><span class="badge badge-success">{{patient.status}}</span></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>