<ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">
            <mat-icon>home</mat-icon>
        </a></li>
    <li class="breadcrumb-item active">Book Appointment
    </li>
</ul>



<div class="container-fluid">

    <!-- Patient List -->
    <h1 class="d-flex bd-highlight mb-3">
        <span class="title mr-auto">Book Appointment</span>
        <span class="">
            <a routerLink="/appointment-action"><button mat-fab color="primary"
                aria-label="Example icon-button with a heart icon">
                <mat-icon>add</mat-icon>
            </button></a>
        </span>
    </h1>

    <div class="row">
        <div class="col-md-12">

            <table class="table m-b-0 table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Media</th>
                        <th>Patients ID</th>
                        <th>Full Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th>Service</th>
                        <th>Doctor</th>
                        <th>Appointment Date</th>
                        <th>Detail</th>
                        <th>Patient Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of allAppointment">
                        <td>
                            <span class="list-icon">
                                <a routerLink="/patient-profile">
                                    <img class="patients-img" src="{{appointment.thumb}}" alt="">
                                </a>
                            </span>
                        </td>
                        <td>{{appointment.patientID}}</td>
                        <td>{{appointment.name}}</td>
                        <td>{{appointment.age}}</td>
                        <td>{{appointment.gender}}</td>
                        <td>{{appointment.contact}}</td>
                        <td>{{appointment.address}}</td>
                        <td>{{appointment.service}}</td>
                        <td>{{appointment.doctor}}</td>
                        <td>{{appointment.appointmentDate}}</td>
                        <td>{{appointment.detail}}</td>
                        <td><span class="badge badge-success">{{appointment.PatientStatus}}</span></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>