
<!-- Profile -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image user-dp"></div>
    <mat-card-title>Welcome!</mat-card-title>
    <mat-card-subtitle>Mr. Professor</mat-card-subtitle>
  </mat-card-header>
 
</mat-card>

<!-- Menus -->
<mat-list role="list" class="sidebar-nav">
  <mat-list-item role="listitem">
      <a routerLink="/dashboard" routerLinkActive="active"><mat-icon>dashboard</mat-icon><span>Dashboard</span></a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="/doctors" routerLinkActive="active"><mat-icon>person</mat-icon><span>Doctors</span></a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="/patients" routerLinkActive="active"><mat-icon>people</mat-icon><span>Patients</span></a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="/appointment" routerLinkActive="active"><mat-icon>calendar_today</mat-icon><span>Appointment</span></a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="/reports" routerLinkActive="active"><mat-icon>equalizer</mat-icon><span>Reports</span></a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="/billing" routerLinkActive="active"><mat-icon>money</mat-icon><span>Billing</span></a>
  </mat-list-item>
  <!-- <mat-list-item role="listitem">
    <a routerLink="/mailbox"><mat-icon>email</mat-icon>Mailbox</a>
  </mat-list-item> -->
  <mat-list-item role="listitem">
    <a routerLink="/hospital-staff" routerLinkActive="active"><mat-icon>wc</mat-icon><span>Hospital Staff</span></a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="/event-management" routerLinkActive="active"><mat-icon>grid_on</mat-icon><span>Event Management</span></a>
  </mat-list-item>
</mat-list>