.top-buffer { margin-top: 20px;}
.doctors-list .pro-pic img { border-radius: 50%; border: 2px solid; display: inline-block; max-width: 150px; max-height:150px;}
.doctors-list span,.doctor-list small { display: block; margin:5px 0;}
.doctors-list .col-md-3 { margin-bottom: 30px;}
.doctors-list .item .title { color:#673ab7; font-size: 22px; margin: 10px 0 5px;}
.doctors-list .item small { font-size: 14px;}