<ul class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/dashboard">
      <mat-icon>home</mat-icon>
    </a></li>
  <li class="breadcrumb-item"><a routerLink="/doctors">Doctors</a></li>
  <li class="breadcrumb-item active">Profile</li>
</ul>
<h1>Profile</h1>

<div class="container-fluid">

 
  <div class="row">
    <div class="col-md-3 doctors-list text-center">
        <mat-card class="example-card">
          <div class="item">
            <span class="pro-pic">
              <a><img src="../assets/doctor.jpg"></a>
            </span>
            <span class="title">Dr. Siddharth Kamble</span>
            <small>Dentist</small>
            <span>795 Folsom Ave, Suite 600 San Francisco, faCADGE 94107</span>
          </div>
        </mat-card>
    </div>
    <div class="col-md-9">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                            <mat-icon>thumb_up_alt</mat-icon>
                          </div>
                          <mat-card-title>2365</mat-card-title>
                          <mat-card-subtitle>Experience</mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                            <mat-icon>star</mat-icon>
                          </div>
                          <mat-card-title>1203</mat-card-title>
                          <mat-card-subtitle>Awards</mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                            <mat-icon>people</mat-icon>
                          </div>
                          <mat-card-title>324</mat-card-title>
                          <mat-card-subtitle>Clients</mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                            <mat-icon>bug_report</mat-icon>
                          </div>
                          <mat-card-title>1980</mat-card-title>
                          <mat-card-subtitle>Surgery</mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                            <mat-icon>date_range</mat-icon>
                          </div>
                          <mat-card-title>2</mat-card-title>
                          <mat-card-subtitle>Events</mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                            <mat-icon>thumb_up_alt</mat-icon>
                          </div>
                          <mat-card-title>10</mat-card-title>
                          <mat-card-subtitle>Birthday</mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                            <mat-icon>thumb_up_alt</mat-icon>
                          </div>
                          <mat-card-title>8</mat-card-title>
                          <mat-card-subtitle>Conference</mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                            <mat-icon>thumb_up_alt</mat-icon>
                          </div>
                          <mat-card-title>2</mat-card-title>
                          <mat-card-subtitle>Seminars</mat-card-subtitle>
                        </mat-card-header>
                      </mat-card>
                </div>
            </div>
        </div>
        
    </div>
  </div>
</div>





