<ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">
            <mat-icon>home</mat-icon>
        </a></li>
        <li class="breadcrumb-item"><a routerLink="/patients">Patients</a></li>
        <li class="breadcrumb-item active">Patient Profile</li>
</ul>
<h1>Patient Profile
</h1>

<div class="container-fluid">

 
    <div class="row">
      <div class="col-md-3 doctors-list text-center">
          <mat-card class="example-card">
            <div class="item">
              <span class="pro-pic">
                <a><img src="../assets/doctor.jpg"></a>
              </span>
              <span class="title">Mr. Siddharth Kamble</span>
              <small>+91 25458 56965</small>
              <span>795 Folsom Ave, Suite 600 San Francisco, faCADGE 94107</span>
              <span>05-09-1987</span>
            </div>
          </mat-card>
      </div>
      
      <div class="col-md-9">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-12"><h5>General Report</h5></div>
                  <div class="col-md-3">
                      <mat-card class="example-card">
                          <div>Blood Pressure</div>
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped" style="width:30%"></div>
                          </div>
                        </mat-card>
                  </div>
                  <div class="col-md-3">
                      <mat-card class="example-card">
                          <div>Heart Beat</div>
                          <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped" style="width:70%"></div>
                          </div>
                        </mat-card>
                  </div>
                  <div class="col-md-3">
                      <mat-card class="example-card">
                          <div>Haemoglobin</div>
                          <div class="progress">
                            <div class="progress-bar bg-warning progress-bar-striped" style="width:45%"></div>
                          </div>
                        </mat-card>
                  </div>
                  <div class="col-md-3">
                      <mat-card class="example-card">
                          <div>Sugar</div>
                          <div class="progress">
                            <div class="progress-bar bg-danger progress-bar-striped" style="width:60%"></div>
                          </div>
                        </mat-card>
                  </div>
              </div>
          </div>
  
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-8">
                      <h5>Activity</h5>
                      <mat-card class="example-card">
                       <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.

                        </p>
                      </mat-card>
                  </div>
                  <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-12">
                            <h5>Payment</h5>
                            <mat-card class="example-card">
                                
                                    <mat-icon>done</mat-icon> Done
                                
                              </mat-card>
                        </div>
                        <div class="col-md-12">
                          <h5>Status</h5>
                          <mat-card class="example-card">
                             
                                  <mat-icon>done</mat-icon> Discharged
                              
                            </mat-card>
                          </div>
                      </div>
                  </div>
                  
                  
              </div>
          </div>
          
      </div>
    </div>
  </div>